.client{
    &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            margin-bottom: 50px;

            @include mobile() {
                font-size: 28px;

            }
        }
&__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include mobile() {
            display: flex;
            flex-wrap: wrap;
            // width: calc((100% - 2 * 30px) / 2);
            // margin: 15px; 
        }
}
&__item {
    display: flex;

    width: 170px;
    height: 92px;
    @include mobile() {
        flex-grow: 1;
    }
    
}
&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--social-icon-color);
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&__icon {
    fill: var(--social-icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&__link:hover,
&__link:focus {
    border: 1px solid var(--activity-color);
}
&__link:hover .client__icon,
&__link:focus .client__icon {
    fill: var(--activity-color);
}
}