.header__group {
    display: flex;
    list-style-type: none;
    @include mobile() {
        display: none;
    }
    
    @include tablet() {
        flex-direction: column;
        gap: 10px;
        justify-content: center;

    }
    @include desktop() {
        gap: 50px;
        align-items: center;
        margin-left: auto;
    }
}
.link {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    color: var(--secondary-text-color);
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile() {
        font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            margin-top: 32px;
    }

    @include desktop() {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &:hover {
            color: var(--activity-color);
        }
    
        &:focus {
            color: var(--activity-color);
        }
    &__tell{
      
            @include mobile() {
                font-weight: 500;
                font-size: 34px;
                line-height: 40px;
                color: var(--activity-color);
            }
    
    }
}