.footer__logo {
    display: block;
    color: var(--activity-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
    line-height: 1.19;
    margin-bottom: 20px;
}
.footer__part-logo {
    color: rgba(255, 255, 255, 1);
}