.footer__social {
    margin-left: 70px;
    width: 206px;
    height: 80px;
}

.footer__social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    color: var(--white-text-color);

    align-self: flex-start;
    margin-bottom: 20px;
}

.footer__social-list {
    display: flex;
    gap: 10px;
}

.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-item .footer__social-icon {
    fill: var(--white-text-color);
}

.footer__social-item:hover,
.footer__social-item:focus {
    background-color: var(--activity-color);
}

.footer__social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}