.header {
    border-bottom: 1px solid #ececec;

   
    &__contacts {
        display: flex;
        align-items: center;
        @include mobile() {
            display: none;
        }
    }
    
}