.header__logo {
    display: block;
    color: var(--activation-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;

}
.logo__part {
    color: var(--activity-color);
}