.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @include mobile() {
        width: 450px;
        height: 609px;
    }
    @include tablet() {
         width: 450px;
         height: 609px;
      }


&__btn {
        top: 10px;
        right: 10px;
        box-sizing: border-box;
        display: flex;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: var(--primary-background-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        align-items: center;
    }
}