.nav {
    margin-right: auto;
    @include mobile() {
        display: none;
    }

    &__list {
            margin-right: auto;
            list-style-type: none;
            text-decoration: none;
            display: flex;
            gap: 50px;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        &__link {
            display: block;
            font-weight: 500;
            list-style-type: none;
            text-decoration: none;
            line-height: 1.14;
            letter-spacing: 0.02em;
    
            color: var(--primary-text-color);
            padding-top: 32px;
            padding-bottom: 32px;
            position: relative;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            @include mobile() {
                font-weight: 500;
                    font-size: 40px;
                    line-height: 47px;
                    letter-spacing: 0.02em;
                    
            }
        }
        &__link:hover {
            color: var(--activity-color);
        }
    
        &__link:focus {
            color: var(--activity-color);
        }
        &__link.current::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -1.5%;
            width: 100%;
            height: 4px;
            background-color: var(--activity-color);
            border-radius: 2px;
            height: 4px;
        }
        &__link.current:hover,
        &__link.current:focus {
            color: var(--activity-color);
        }

}
.main-nav {
    display: flex;
}

