.nav {
    margin-right: auto;
    @include mobile() {
        display: none;
    }

    &__list {
            margin-right: auto;
            list-style-type: none;
            text-decoration: none;
            display: flex;
            gap: 50px;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        &__link {
            display: block;
            font-weight: 500;
            list-style-type: none;
            text-decoration: none;
            line-height: 1.14;
            letter-spacing: 0.02em;
    
            color: var(--primary-text-color);
            padding-top: 32px;
            padding-bottom: 32px;
            position: relative;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            @include mobile() {
                font-weight: 500;
                    font-size: 40px;
                    line-height: 47px;
                    letter-spacing: 0.02em;
                    
            }
        }
        &__link:hover {
            color: var(--activity-color);
        }
    
        &__link:focus {
            color: var(--activity-color);
        }
        &__link.current::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -1.5%;
            width: 100%;
            height: 4px;
            background-color: var(--activity-color);
            border-radius: 2px;
            height: 4px;
        }
}
.main-nav {
    display: flex;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #FFFFFF;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 200px;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    
}
.menu-toggle{
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    margin-right: auto;
    @include tablet() {
        display: none;
    }
    @include desktop() {
        display: none;
    }
}
.mobile__list{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 22px;
    color: var(--activity-color);
    gap: 20px;

}
.mobile__link::after{
   padding: 0 10;
    border-right: 2px solid rgba(33, 33, 33, 0.2);;
    
}

