.register-form-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.register__form-title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.register__form-group {
    margin-bottom: 20px;
}

.register__form-field:not(:last-child) {
    margin-bottom: 10px;
}

.register__form-field {
    position: relative;
    display: block;
}

.register__form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.register__form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register__form-input:focus {
    border-color: var(--activity-color);
}

.register__form-icon {
    position: absolute;
    bottom: 0;
    left: 15px;
    transform: translateY(-11px);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register__form-input:focus+.register__form-icon {
    fill: var(--activity-color);
}

.register__form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}

.register__form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.register__form-desc {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.7;

    color: var(--secondary-text-color);

    @include mobile() {
        font-size: 12px;
    }

    @include tablet() {
        font-size: 12px;
    }
}

.register__form-link {
    color: var(--activity-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.7;
    text-decoration-line: underline;
}

.register__form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 30px;
}

.register__form-btn {
    display: block;
    margin: 0 auto;

    color: var(--white-text-color);
    background-color: var(--activity-color);
}
