.work {
    padding-top: 0;
    padding-bottom: 94px;
    @include mobile() {
            display: none;
        }
    @include tablet() {
            display: none;
    }
    

&__list {
        list-style-type: none;
        display: flex;
        gap: 30px;
        padding: 0;
    }
&__caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;

    color: var(--primary-text-color);
    }
&__item {
    position: relative;
    padding: 27px, 113px;
    }
 &__description {
     position: absolute;
     left: 0px;
     bottom: 0px;
     display: flex;
     justify-content: center;
     align-items: center;

     width: 100%;
     height: 70px;

     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;

     color: var(--white-text-color);
     background-color: rgba(47, 48, 58, 0.8);
 }
}