ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
form {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}