:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --activity-color: #2196f3;
    --activity-color-rgba90: rgba(33, 150, 243, 0.9);
    --white-text-color: #ffffff;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --social-icon-color: #afb1b8;
}